/* For Tablets */
@media all and (max-width: 1024px){
  .header-right, .header-left{
    display: none;
  }

  .navbar{
    justify-content: space-between;
  }

  .menu-icon{
    display: flex !important;
    
  }

  .promote{
    display: flex;
    background-color: var(--cream);
    font-size: 1rem;
    text-align: center;
    height: 3em;
    letter-spacing: 0.2rem;
    align-items: center;
  }

  .top-wrapper{
    background-image: url('zerotab.jpg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    
  }

  .top-wrapper h1{
    padding-top: 4vh;
    font-size: 6vh;
    font-weight: 700;
    line-height: 10vh;
    align-items: center;
    letter-spacing: 0.17em;
    text-transform: capitalize;
  }

  .top-wrapper p{
      padding-top: 3vh;
      font-weight: 500;
      line-height: 5vh;
      font-size: 2.7vh;
      letter-spacing: 0.2em;
      text-transform: capitalize;
  }

  .story-wrapper{
    margin-bottom: 10vh;
    text-align: center;
  }
  
  .section{
    font-weight: lighter;
    padding-top: 7vh;
    text-transform: uppercase;
    font-size: 2vh;
    letter-spacing: 0.6em;
    align-items: flex-end;
  }
  
  .title{
    padding-top: 2vh;
    text-transform: uppercase;
    font-size: 4vh;
    line-height: 6vh;
    letter-spacing: 0.4em;
  }
  
  .content-story{
    padding: 4vh;
    font-size: 2.5vh;
    line-height: 4vh;
    letter-spacing: 0.09em;
  }

  .product-wrapper{
    padding-top: 4vh;
    text-align: center;
    padding-bottom: 8vh;
    background-color: var(--seaweed);
}

  .products{
      display: flex;
      flex-wrap: wrap;
      
  }

  .product{
      padding-top: 7vh;
      width: 50%;
  }

  .list-product img{
      width: 28vh;
  }

  .txt-content{
      width: 80%;
      display: inline-block;
      height: 15vh;
      margin-top: 2.5vh;
      font-size: 2.5vh;
  }

  .btn{
      display: inline-block;
      color: black;
  }

  .buy-btn{
      background-color: white;
      border: 1px solid black;
      padding: 2vh 5vh;
      transition: all 0.5s;
      text-transform: uppercase;
      cursor: pointer;
      box-shadow: 0 7px grey;
      font-size: 2vh;
  }

  .buy-btn:hover{
      color: white;
      background-color: var(--grass);
      border: 1px solid black;
  }

  .buy-btn:active{
      box-shadow: none;
      position: relative;
      top: 7px;
  }

  /* Contact Form Section */
  .contact-wrapper{
    padding-top: 3vh;
    text-align: center;
    padding-bottom: 20vh;
  }

  .contact{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contact-item{
    flex: 50%;
    padding-top: 3vh;
  }

  .contact-img img{
     width: 100%;
  }

  .contact-form h1{
    font-size: 4vh;
  }

  .form{
    padding-top: 2vh;
    text-align: left;
    padding-left: 2vh;
    padding-right: 2vh;
  }

  .form-title{
    padding-bottom: 1.5vh;
    font-size: 2vh;
  }

  .form-input{
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 10px;
  }

  .form-message{
    width: 100%;
    height: 23vh; 
    padding: 10px 20px;
    margin-bottom: 10px;
  }

  .btn-send{
    color: black;
    padding-left: 2vh;
    padding-right: 2vh;
  }

  .submit{
    background-color: white;
    border: 1px solid black;
    padding: 1.8vh 7vh;
    transition: all 0.5s;
    text-transform: uppercase;
    cursor: pointer;
  }

  .submit:hover{
    color: white;
    background-color: var(--grass);
    border: 1px solid black;
  }  

  .gozero-wrapper{
    padding-bottom: 5vh;
    text-align: center;
    letter-spacing: 0.5em;
    background-color: var(--seaweed);
  }

  .heading{
      line-height: 100px;
  }

  .heading h1{
    font-size: 4vh;
  }

  .subscribe{
      background-color: white;
      border: 1px solid black;
      padding: 10px 50px;
      transition: all 0.5s;
      text-transform: uppercase;
      cursor: pointer;
  }

  footer{
    background-color: var(--grass);
    padding-top:15px;
  }
  .footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer-left img{
    width: 12vh;
  }

  .footer-middle{
      display: flex;
      flex-direction: column;
  }

  .footer-middle, .footer-right{
    font-size: 12px;
  }


  .footer-right{
      display: flex;
      flex-direction: column;
  }
  .footer-item{
      color: white;
  }

  .copyright{
      color: white;
      font-size: 8px;
      background-color: var(--greener);
      text-align: center;
      min-height: 30px;
      height: 30px;
      line-height: 30px;
      letter-spacing: 0.2em;
  }


}

/* For Mobile */
@media all and (max-width: 670px){
  .header-right, .header-left{
    display: none;
  }

  .menu-icon{
    display: flex !important;
    
  }

  .promote{
    display: flex;
    background-color: var(--cream);
    font-size: 0.6rem;
    text-align: center;
    min-height: 3em;
    letter-spacing: 0.2rem;
    align-items: center;
  }

  .top-wrapper{
    background-image: url('zerophone3.jpg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    
  }

  .top-wrapper h1{
    padding-top: 4vh;
    font-size: 4vh;
    font-weight: 700;
    line-height: 8vh;
    align-items: center;
    letter-spacing: 0.17em;
    text-transform: capitalize;
}

  .top-wrapper p{
      padding-top: 2vh;
      font-weight: 500;
      line-height: 4vh;
      font-size: 2vh;
      letter-spacing: 0.2em;
      text-transform: capitalize;
  }

  /* Story Section */
  .story-wrapper{
    margin-bottom: 5vh;
    text-align: center;
  }

  .section{
    font-weight: lighter;
    padding-top: 8vh;
    text-transform: uppercase;
    font-size: 2vh;
    letter-spacing: 0.6em;
    align-items: flex-end;
  }

  .title{
    padding-top: 2vh;
    text-transform: uppercase;
    font-size: 4vh;
    line-height: 6vh;
    letter-spacing: 0.4em;
  }

  .content-story{
    padding: 4vh;
    font-size: 2.5vh;
    line-height: 4vh;
    letter-spacing: 0.09em;
  }

  /* Product Section */
  .product-wrapper{
    padding-top: 4vh;
    text-align: center;
    padding-bottom: 8vh;
    background-color: var(--seaweed);
}

  .products{
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .product{
      padding-top: 7vh;
      width: 100%;
  }

  .list-product img{
      width: 28vh;
  }

  .txt-content{
      width: 76%;
      display: inline-block;
      height: 15vh;
      margin-top: 2.5vh;
      font-size: 2.1vh;
  }

  .btn{
      display: inline-block;
      color: black;
  }

  .buy-btn{
      background-color: white;
      border: 1px solid black;
      padding: 2vh 5vh;
      transition: all 0.5s;
      text-transform: uppercase;
      cursor: pointer;
      box-shadow: 0 7px grey;
      font-size: 1.9vh;
  }

  .buy-btn:hover{
      color: white;
      background-color: var(--grass);
      border: 1px solid black;
  }

  .buy-btn:active{
      box-shadow: none;
      position: relative;
      top: 7px;
  }

  
  /* Contact Form Section */
  .contact-wrapper{
    padding-top: 3vh;
    text-align: center;
    padding-bottom: 10vh;
  }

  .contact{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .contact-item{
    flex: 100%;
    padding-top: 3vh;
  }

  .form{
    padding-top: 4vh;
    text-align: left;
    padding-left: 5vh;
    padding-right: 5vh;
  }

  .form-title{
    padding-bottom: 1.5vh;
  }

  .form-input{
    width: 100%;
    padding: 12px 20px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }

  .form-message{
    width: 100%;
    height: 25vh; 
    padding: 12px 20px;
    box-sizing: border-box;
    margin-bottom: 10px;
  }

  .btn-send{
    text-align: left;
    color: black;
    padding-left: 5vh;
    padding-right: 5vh;
    padding-top: 3px;
  }

  .submit{
    background-color: white;
    border: 1px solid black;
    padding: 1.5vh 6vh;
    transition: all 0.5s;
    text-transform: uppercase;
    cursor: pointer;
    
  }

  .submit:hover{
    color: white;
    background-color: var(--grass);
    border: 1px solid black;
  }

  .gozero-wrapper{
    padding-bottom: 5vh;
    text-align: center;
    letter-spacing: 0.3em;
    background-color: var(--seaweed);
  }

  .heading{
      line-height: 100px;
  }

  .heading h1{
    font-size: 2vh;
  }

  .subscribe{
      background-color: white;
      border: 1px solid black;
      padding: 10px 50px;
      transition: all 0.5s;
      text-transform: uppercase;
      cursor: pointer;
      font-size: 2vh;
  }

  /* footer section */
  footer{
    background-color: var(--grass);
    padding-top:15px;
  }
  .footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer-left img{
    width: 12vh;
  }

  .footer-middle{
      display: flex;
      flex-direction: column;
  }

  .footer-middle, .footer-right{
    font-size: 10px;
  }


  .footer-right{
      display: flex;
      flex-direction: column;
  }
  .footer-item{
      color: white;
  }

  .copyright{
      color: white;
      font-size: 8px;
      background-color: var(--greener);
      text-align: center;
      height: 30px;
      line-height: 30px;
      letter-spacing: 0.2em;
  }
 

}


