*{
    box-sizing: border-box;
}

:root{
    --cream : #FFF8CD;
    --seaweed : #CFF6CF;
    --grass : #609062;
    --greener : #517452;
    --bluelite : #DDF3F5;
    --orange : #FFB45C;
}

html, body,
ul, ol, li, 
h1, h2, h3, h4, h5, h6, p, div{
    margin: 0;
    padding: 0;
} 

body{
    font-family: 'Quicksand', sans-serif;
}

body, html{
    height: 100%;
}

a{
    text-decoration: none;
}

.container{
    width: 1170px;
    padding: 0 15px;
    margin: 0 auto; 
}

.promote{
    background-color: var(--cream);
    font-size: 14px;
    text-align: center;
    height: 43px;
    letter-spacing: 4px;
    line-height: 43px;
}

header{
    height: 65px;
    width: 100%;
}

.navbar{
    display: flex;
    justify-content: space-between;
}

.header-left a{
    font-size: 20px;
    line-height: 65px;
    padding: 0px 40px 0px 40px;
    color: black;
    display: inline-block;
}

.logo{
    width: 124px;
    margin-top: 3px;
}

.header-right a{
    font-size: 20px;
    line-height: 65px;
    padding: 0px 40px 0px 40px;
    color: black;
    display: inline-block;
}


.navbar-item:hover{
    border-bottom: 4px solid var(--orange) ;
    font-weight: 600;
}


.top-wrapper{
    padding: 10px 10px;
    background-image: url('zerowaste.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 93%;
}

.top-wrapper h1{
    padding-top: 30px;
    padding-right: 730px;
    font-size: 64px;
    font-weight: 700;
    line-height: 75px;
    align-items: center;
    letter-spacing: 0.17em;
    text-transform: capitalize;
}

.top-wrapper p{
    padding-top: 30px;
    padding-right: 700px;
    font-weight: 500;
    line-height: 30px;
    font-size: 24px;
    letter-spacing: 0.2em;
    text-transform: capitalize;
}

.story-wrapper{
    height: 450px;
    text-align: center;
}

.title-story{
    font-weight: lighter;
    padding-top: 40px;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 0.6em;
    align-items: flex-end;
}

.main-title-story{
    padding-top: 5px;
    text-transform: uppercase;
    font-size: 36px;
    line-height: 45px;
    letter-spacing: 0.4em;
}

.content-story{
    padding: 30px;
    font-size: 19px;
    line-height: 30px;
    letter-spacing: 0.09em;
}

.product-wrapper{
    height: 850px;
    padding-top: 30px;
    text-align: center;
    padding-bottom: 80px;
    background-color: var(--seaweed);
}

.product{
    float: left;
    width: 25%;
    padding-top: 40px;
}

.list-product{
    position: relative;
}

.list-product img{
    width: 270px;
    height: 341px;
}

.txt-content{
    width: 80%;
    display: inline-block;
    height: 150px;
    margin-top: 20px;
    font-size: 15px;
}

.btn{
    padding-top: 10px;
    display: inline-block;
    color: black;
}

.buy-btn{
    background-color: white;
    border: 1px solid black;
    padding: 10px 50px;
    transition: all 0.5s;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: 0 7px grey;
}

.buy-btn:hover{
    color: white;
    background-color: var(--grass);
    border: 1px solid black;
}

.buy-btn:active{
    box-shadow: none;
    position: relative;
    top: 7px;
}

.contact-wrapper{
    height: 550px;
    padding-top: 30px;
    text-align: center;
    padding-bottom: 80px;
}

.contact{
    float: left;
    width: 50%;
}

.contact-img img{
    width: 500px;
}

.form{
    padding-top: 10px;
    text-align: left;
    padding-left: 60px;
    padding-right: 60px;
}

.form-title{
    padding-bottom: 10px;
}

.form-input{
    width: 100%;
    padding: 12px 20px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.form-message{
    width: 100%;
    height: 150px; 
    padding: 12px 20px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.submit{
    background-color: white;
    border: 1px solid black;
    padding: 10px 50px;
    transition: all 0.5s;
    text-transform: uppercase;
    cursor: pointer;
    margin-right: 305px;
    
}

.submit:hover{
    color: white;
    background-color: var(--grass);
    border: 1px solid black;
}

.gozero-wrapper{
    height: 160px;
    text-align: center;
    letter-spacing: 0.5em;
    background-color: var(--seaweed);
}

.heading{
    line-height: 100px;
}

.subscribe{
    background-color: white;
    border: 1px solid black;
    padding: 10px 50px;
    transition: all 0.5s;
    text-transform: uppercase;
    cursor: pointer;
}

.subscribe:hover{
    color: white;
    background-color: var(--grass);
    border: 1px solid black;
}

footer{
    background-color: var(--grass);
    height: 180px;
    padding-top:15px;
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-left{
    padding-bottom: 10px;
}

.footer-middle{
    display: flex;
    flex-direction: column;
}

.footer-right{
    display: flex;
    flex-direction: column;
}
.footer-item{
    color: white;
}

.copyright{
    color: white;
    font-size: 12px;
    background-color: var(--greener);
    text-align: center;
    height: 30px;
    line-height: 30px;
    letter-spacing: 0.2em;
}